@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Container*/
.container {
  box-sizing: border-box;
  width: 366px;
  height: 424px;
  background: #fefefe;
  border: 4px solid #0082cd;
  border-radius: 23px;

  margin: 130px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Logo */
.container img {
  width: 197px;
  height: 197px;
  margin-top: -129px;
}
/* Título */
.container h1 {
  font-size: 27px;
  color: #0082cd;
  margin: -30px 0 10px 0;
}
/* Caixas de textos  */
.container input {
  margin: 5px 0 5px 0;
  padding: 4px;
  width: 270px;
  height: 23px;
  background: #dedcdc;
  border: 3px solid #0082cd;
  border-radius: 5px;
  outline: none;
}
/* Texto */
.container p {
  margin-top: 3px;
  margin-bottom: 4px;
}
/* Botão do Facebook */
.container a {
  text-decoration: none;
  color: #0082cd;
  font-size: 16px;
  margin: 2px 0 7px 0;
}
/* Botão Cadastrar */
.container button {
  margin-top: 5px;
  width: 143px;
  height: 39px;
  background: #0082cd;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
}
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
  transition: opacity 0.25s visibility 1s;
}
.wrapper .c-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: carregando 1s linear infinite;
}
@keyframes carregando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade {
  opacity: 0;
  visibility: hidden;
}
