@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/* Corpo */
body {
  margin: 0;
  padding: 0;
}
/* Loading */
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
  transition: opacity 0.25s visibility 1s;
}
.wrapper .c-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: carregando 1s linear infinite;
}
@keyframes carregando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade {
  opacity: 0;
  visibility: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: #fefefe;
  height: 80px;
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
  flex-direction: row;
}
nav ul a {
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 45px;
  color: #0082cd;
  cursor: pointer;
}
nav .logo {
  margin-right: 50px;
  margin-left: 25px;
  height: 50px;
  width: 200px;
}

/* Carousel */
.propaganda {
  width: 1366px;
  height: 260px;
}

/* Texto */
.balao {
  margin: 0 auto;
  background: #0082cd;
  font-size: 1em;
  line-height: 2em;
  border-radius: 7px;
  width: 500px;
  height: auto;
  color: #fff;
  padding: 20px;
  position: relative;
  margin-top: 30px;
}
.balao:after {
  /*Triangulo*/
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #0082cd;
  bottom: -16px;
  left: 0;
  transform: rotate(182deg);
}
