@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Conteiner */
.container {
  box-sizing: border-box;
  width: 366px;
  height: 424px;
  background: #fefefe;
  border: 4px solid #0082cd;
  border-radius: 23px;

  margin: 130px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Logo */
.container img {
  width: 197px;
  height: 197px;
  margin-top: -134px;
}
/* Título */
.container h1 {
  font-size: 27px;
  color: #0082cd;
  margin-top: -29px;
}
/* Caixas de textos */
.container input {
  margin: 15px 0 3px 0;
  padding: 4px;
  width: 270px;
  height: 23px;
  background: #dedcdc;
  border: 3px solid #0082cd;
  border-radius: 5px;
  outline: none;
}
/* Botão Equeci a senha */
.container #esqueci {
  text-decoration: none;
  color: #0082cd;
  font-size: 16px;
  margin: 15px 0 15px 0;
}
/* Botão Entrar com Facebook */
.container a {
  text-decoration: none;
  color: #0082cd;
  font-size: 15px;
}
/* Botão Entrar */
.container #entrar {
  width: 120px;
  height: 39px;
  border-radius: 15px;
  margin: 1px 0px 1px 0px;
  background-color: #0082cd;
  color: #fefefe;
  font-size: 18px;
  padding: 9px;
  border: none;
}
/* Texto */
.container p {
  margin: 10px 0 5px 0;
}
/* Botão Cadastro */
.container #cadastro {
  border: none;
  margin-top: 7px;
  font-size: 14px;
  background-color: #fefefe;
  border: 3px solid #0082cd;
  border-radius: 15px;
  height: 28px;
  color: #0082cd;
}
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #f3f3f3;
  display: grid;
  place-items: center;
  transition: opacity 0.25s visibility 1s;
}
.wrapper .c-loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: carregando 1s linear infinite;
}
@keyframes carregando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fade {
  opacity: 0;
  visibility: hidden;
}
