@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* Conteiner */
.conteiner {
  box-sizing: border-box;
  width: 366px;
  height: 424px;
  background: #fefefe;
  border: 4px solid #0082cd;
  border-radius: 23px;

  margin: 130px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteiner img {
  width: 197px;
  height: 197px;
  margin-top: -134px;
}
.conteiner h1 {
  font-size: 27px;
  color: #0082cd;
  margin-top: -29px;
}
.conteiner input {
  margin: 15px 0 3px 0;
  padding: 4px;
  width: 270px;
  height: 23px;
  background: #dedcdc;
  border: 3px solid #0082cd;
  border-radius: 5px;
  outline: none;
}
.conteiner #esqueci {
  text-decoration: none;
  color: #0082cd;
  font-size: 16px;
  margin: 15px 0 15px 0;
}
.conteiner a {
  text-decoration: none;
  color: #0082cd;
  font-size: 15px;
}
.conteiner #entrar {
  width: 120px;
  height: 39px;
  border-radius: 15px;
  margin: 1px 0px 1px 0px;
  background-color: #0082cd;
  color: #fefefe;
  font-size: 18px;
  padding: 9px;
  border: none;
}
.conteiner p {
  margin: 10px 0 5px 0;
}
.conteiner #cadastro {
  border: none;
  margin-top: 7px;
  font-size: 14px;
  background-color: #fefefe;
  border: 3px solid #0082cd;
  border-radius: 15px;
  height: 28px;
  color: #0082cd;
}
