/* Fundo */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0px;
}
body {
  display: flex;
  padding: 0;
  margin: 10%;
  font-family: "Inter", sans-serif;
}
/* Conteiner */
.conteiner {
  box-sizing: border-box;
  width: 366px;
  height: 424px;
  background: #fefefe;
  border: 4px solid #0082cd;
  border-radius: 23px;
  margin: 0 auto 0 auto;
  text-align: center;
}
.conteiner img {
  width: 197px;
  height: 197px;
  margin-top: -112px;
}
.conteiner h1 {
  font-size: 27px;
  color: #0082cd;
  margin-top: -32px;
}
.conteiner input {
  margin-top: 20px;
  padding: 4px;
  width: 270px;
  height: 23px;
  background: #dedcdc;
  border: 3px solid #0082cd;
  border-radius: 5px;
  outline: none;
}
.conteiner #esqueci {
  text-decoration: none;
  color: #0082cd;
  font-size: 16px;
}
.conteiner a {
  text-decoration: none;
  color: #0082cd;
  font-size: 16px;
}
.conteiner #entrar {
  width: 95px;
  height: 37px;
  border: 2px solid #0082cd;
  border-radius: 10px;
  margin: 12px 0px 0px 0px;
}
.conteiner p {
  margin: 9px 0 8px 0;
}
